.cabecera{
    height: 100px;
    background-color: rgb(171, 171, 171);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: black;
    margin-bottom: 20px;
}

.usuario, .logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    
}